@page "/Work"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Pilot.BlazorClient.Interface
@using Pilot.BlazorClient.ViewModels
@using Pilot.BlazorClient.ViewModels.UserViewModels
@using Pilot.BlazorClient.Components.Pages.User
@using Pilot.BlazorClient.Components.Helpers
@inject IWorkPageService WorkPageService
@inject ProtectedSessionStorage ProtectedSessionStorage;
@inject IUserService UserService
@inject NavigationManager NavigationManager;

<PageTitle>Work</PageTitle>


<AuthCheck/>

@if (_isLoading)
{
    <Loading/>
}
else
{
  
<div class="work-container">
    <aside class="work-sidebar">
        <div class="project-menu">
            <ul>
                @if (_projects is { Count: > 0 })
                {
                    <h5 @onclick="() => ClearTeam()" style="cursor: pointer">Projects:</h5>
                    @foreach (var project in _projects)
                    {
                        <li style="padding: 5px">
                            <span>@project.Name</span>
                        </li>
                    }
                }
                else
                {
                    <li>No projects available</li>
                }
            </ul>
        </div>
    </aside>

    <section class="content-wrapper">
        <nav class="nav-menu">
            <ul>
                <li @onclick="() => SetActiveTab(0)" class="@GetActiveClass(0)">
                    Main
                </li>
                <li @onclick="() => SetActiveTab(1)" class="@GetActiveClass(1)">
                    Summary
                </li>
                <li @onclick="() => SetActiveTab(2)" class="@GetActiveClass(2)">
                    Tasks
                </li>
                <li @onclick="() => SetActiveTab(3)" class="@GetActiveClass(3)">
                    Employees
                </li>
            </ul>
        </nav>

        <main class="work-main">
            @if (_user != null)
            {
                @switch (_activeTab)
                {
                    case 0:
                        <UserGreeting UserName="@_user.UserName" UserId="@_user.Id"/>
                        break;
                    case 1:
                        <Summary UserId="@_user.Id"></Summary>
                        break;
                    case 2:
                        <UserTask UserId="@_user.Id" TeamId="@_teamId"/>
                        break;
                    case 3:
                        <Employees UserId="@_user.Id" CompanyId="@_companyUser!.Company.Id"/>
                        break;
                    case 4:
                        break;
                }
            }
        </main>
    </section>
</div>
  
}

@code {
    private int _activeTab;
    private bool _isLoading = true;

    private UserViewModel? _user;
    private CompanyUserViewModel? _companyUser;

    private ICollection<ProjectViewModel>? _projects;
    
    private int _teamId;
    
    protected override async Task OnInitializedAsync()
    {
        _user = await UserService.GetCurrentUserAsync();
        
        _companyUser = await WorkPageService.GetUserCompanyAsync(_user.Id);

        _projects = await WorkPageService.GetUserProjectsAsync(_companyUser.Company.Id);
        
        var currentTabStorageResult = await ProtectedSessionStorage.GetAsync<int>("work:currentTab");
        if (currentTabStorageResult.Success)
            _activeTab = currentTabStorageResult.Value;
        
        _isLoading = false;
    }

    private void SetActiveTab(int tabId)
    {
        _activeTab = tabId;
        ProtectedSessionStorage.SetAsync("work:currentTab", tabId);
    }

    private string GetActiveClass(int tabId)
    {
        return _activeTab == tabId ? "active" : string.Empty;
    }

    private void NavigateToTeam(int teamId)
    {
        _teamId = teamId;
        ProtectedSessionStorage.SetAsync("work:teamId", teamId);
        Console.WriteLine($"Navigating to: {teamId}");

        if (_activeTab == 2)
        {
            NavigationManager.NavigateTo(NavigationManager.Uri, true);
        }
    }

    private void ClearTeam()
    {
        ProtectedSessionStorage.DeleteAsync("work:teamId");
        Console.WriteLine($"Navigating to: {0}");

        if (_activeTab == 2)
        {
            NavigationManager.NavigateTo(NavigationManager.Uri, true);
        }
    }
}

<style>
    .work-container {
        display: flex;
        height: 90vh;
        width: 100%;
        margin-bottom: 50px;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .nav-menu ul {
        list-style-type: none;
        padding: 0;
        display: flex;
    }

    .nav-menu li {
        margin-right: 20px;
    }

    .nav-menu {
        cursor: pointer;
        text-decoration: none;
        color: #2980b9;
    }

    .nav-menu a.active {
        font-weight: bold;
        color: #1a5276;
    }

    .nav-menu a:hover {
        text-decoration: underline;
    }

    .work-sidebar {
        margin: 0 10px;
        padding: 10px;
        border-radius: 15px;
        width: 150px;
        background-color: #34495e;
        color: #fff;
    }

    .work-main {
        flex-grow: 1;
        padding: 20px;
        background-color: #ecf0f1;
        display: flex;
        flex-direction: column;
    }

    .project-menu {
        width: 250px;
        color: #fff; /* Изменен цвет текста */
    }
    .project-menu ul {
        list-style-type: none;
        padding-left: 0;
    }
    .project-menu li {
        padding: 5px;
        cursor: pointer;
    }

    .team-item:hover {
        color: #9acbff;
    }

    .work-main {
        overflow-y: auto;  /* Включаем вертикальную прокрутку */
    }
</style>