@page "/"
@inject IJsonLocalizationService Localizer

<PageTitle>@Localizer.GetString("PageTitle", HomePageName)</PageTitle>

<div class="text-center">
    <h1>@Localizer.GetString("MainTitle", HomePageName)</h1>
    <p>@Localizer.GetString("MainDescription", HomePageName)</p>
    <img src="Images/Home/main_home.png" alt="Main Image" class="img-fluid mt-4"/>
</div>

<section id="features" class="mt-5">
    <h2 class="text-center text-uppercase fw-bold mb-5">@Localizer.GetString("FeaturesTitle", HomePageName)</h2>
    <div class="row justify-content-between feature-section">
        <div class="col-md-5 feature-block feature-left">
            <div class="feature-content">
                <h5>@Localizer.GetString("Feature1.Title", HomePageName)</h5>
                <p>@Localizer.GetString("Feature1.Description", HomePageName)</p>
            </div>
            <img src="Images/Home/66f8705c1383b3000179ba84_sd3-turbo_result.webp" alt="Feature 1" class="img-fluid feature-img"/>
        </div>

        <div class="col-md-5 feature-block feature-right">
            <img src="Images/Home/667bf17c2126de0001348083_sd3-turbo_result.webp" alt="Feature 2" class="img-fluid feature-img"/>
            <div class="feature-content">
                <h5>@Localizer.GetString("Feature2.Title", HomePageName)</h5>
                <p>@Localizer.GetString("Feature2.Description", HomePageName)</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center feature-section">
        <div class="col-md-5 feature-block feature-left">
            <div class="feature-content">
                <h5>@Localizer.GetString("Feature3.Title", HomePageName)</h5>
                <p>@Localizer.GetString("Feature3.Description", HomePageName)</p>
            </div>
            <img src="Images/Home/You Can Now Manage Accounts on Facebook, Instagram and Facebook Messenger Via One App.jfif" alt="Feature 3" class="img-fluid feature-img"/>
        </div>
    </div>
</section>

@code {
    const string HomePageName = "Home";
}

<style>
    .text-center {
        text-align: center;
        padding: 50px 20px;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    #features {
        padding: 60px 20px;
    }

    .feature-section {
        margin-bottom: 50px;
    }

    .feature-block {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }

    .feature-left .feature-content {
        order: 1;
    }

    .feature-left img {
        order: 2;
        margin-left: 20px;
    }

    .feature-right .feature-content {
        order: 2;
    }

    .feature-right img {
        order: 1;
        margin-right: 20px;
    }

    .feature-content {
        max-width: 50%;
    }

    h2 {
        font-size: 2rem;
    }
</style>